div{

    align-items: center;
}


.mother{
    width: 100vw;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
}

.item{
}

#container1{
    flex-direction: row;
    height: 5vw
}

#container2{
    flex-direction: row;
    justify-content: center;
    height: 50vw;
    align-items: center;
}

#container3{
    flex-direction: row-reverse;
}

#content3{
flex-basis: 25%;
}

#content2{
    flex-basis: 50%;
    height: 20vw;
}

#nulo{
    flex-basis: 25%;
    height: 20vw;
}


#header{
    flex-basis: 25%;
}

#menu{
    flex-basis: 75%;
}

#image{
    height: 10vw;
}

#extra{
    height: 10vw;
}

#content1{

}