*{
    margin: 0;
    padding: 0;
}


.all{
    background-color: #ffffff;

}

.head{
    width: auto;
    height: 100px;
    background-color: red;
}

.container {
    flex-direction: column;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;

}

.break{
    display: none;
}

.item {
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 10vh;
        min-width: 29vw;
        margin: 1vw 1vw;
    }

    #one{
        display: flex;
        justify-content: space-around;
        
    }
    
    #two{
        display: flex;
        justify-content: space-around;
    }

    #three{
        display: flex;
        justify-content: space-around;
    }
    
    #four{
        display: flex;
        justify-content: space-around;
    }

    #item1{
        background-color: blue;
    }

    #item2{
        background-color: yellow;
    }

    #item3{
        background-color: green;
    }

    #item4{
        background-color: blue;
    }

    #item5{
        background-color: yellow;
    }

    #item6{
        background-color: green;
    }

    #item7{
        background-color: black;
        min-height: 35vh;
        min-width: 35vh;
        color: white;
    }
    
    #item8{
        background-color: black;
        min-height: 35vh;
        min-width: 35vh;
        color: white;
    }

    #item9{
        background-color: #ffffff;

    }

    #item10{
        background-color: #ffffff;

    }

    #item11{
        background-color: #ffffff;

    }


    @media screen and (max-width: 900px){
        .container {
            flex-flow: wrap column;
            width: 100%;
            height: 120vh;
            display: flex;
            justify-content: space-around;
            max-width: 900px;
        
        }

        #one{
            display: flex;
            justify-content: space-around;
            max-width: 600px;
            flex-wrap: wrap;
        }

        #item1{
            background-color: blue;
            min-width: 280px;
        }
    
        #item2{
            background-color: yellow;
            min-width: 280px;
        }

        #item3{
            background-color: green;
            min-width: 500px;
            width: 100%;
        }
    
        #two{
            display: flex;
            justify-content: space-around;
            max-width: 600px;
            flex-wrap: wrap;
        }

        #item4{
            background-color: blue;
            min-width: 280px;
        }
    
        #item5{
            background-color: yellow;
            min-width: 280px;
        }

        #item6{
            background-color: green;
            min-width: 500px;
            width: 100%;
        }
    
        #three{
            display: flex;
            justify-content: space-around;
            max-width: 600px;
        }

        #item7{
            background-color: black;
            min-height: 10vh;
            color: white;
            width: 100%;
        }
        
        #item8{
            background-color: black;
            min-height: 10vh;
            color: white;
            width: %;
        }

        #four{
            display: flex;
            justify-content: space-around;
            max-width: 600px;
            flex-wrap: wrap;
        }

        #item9{
            background-color: #ffffff;
            min-width: 280px;
        }
    
        #item10{
            background-color: #ffffff;
            min-width: 280px;
        }

        #item11{
            background-color: #ffffff;
            min-width: 500px;
            width: 100%;
        }
    
    